# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.swp
*.swo

# Django
*.log
db.sqlite3
/db.sqlite3-journal
/media/
/staticfiles/
/static/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
